h1{
    margin-top: 55px;
}

div.nav-fixed{
    width: 100%;
    height: 50px;
    background-color: magenta;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
}

div.container1{
    background-color: lime;
    position: relative;
    width: 100%;
    height: 300px;
}
div.container2{
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    position: sticky;
    top: 50px;
}

div.box1 {
    width: 100px;
    height: 100px;
    background-color: royalblue;
    position: absolute;
    right: 50px;
   
}

div.box2 {
    width: 100px;
    height: 100px;
    background-color: red;
}

div.box3 {
    width: 100px;
    height: 100px;
    background-color: lightgreen;

}